server {
	listen 80;
	listen [::]:80;

	return 301 https://$host$request_uri;
}

server {
	listen 443 ssl;
	listen [::]:442 ssl;

	# ssl 설정
	ssl on;
	ssl_certificate /etc/ssl/certs/localhost.dev.crt;
	ssl_certificate_key /etc/ssl/private/localhost.dev.key;

	# 서버의 root디렉토리 설정
	root /var/www/html;

	# 읽을 파일 목록
	index index.html index.htm index.nginx-debian.html index.php;

	server_name ft_server;
	location / {
        autoindex on;
		try_files $uri $uri/ =404;
	}

    location ~ \.php$ {
        include snippets/fastcgi-php.conf
        fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
    }
}